<div>
    <mat-button-toggle-group name="selected" aria-label="Selected" [value]="getSelectedButton()">
        <mat-button-toggle value="/categoria/cadastrar" routerLink="/categoria/cadastrar">
            <a>Cadastrar</a>
        </mat-button-toggle>
        <mat-button-toggle value="/categoria/listar" routerLink="/categoria/listar"><a>Listar</a>
        </mat-button-toggle>
        <mat-button-toggle value="/categoria/editar" routerLink="/categoria/editar">Editar</mat-button-toggle>
        <mat-button-toggle value="/categoria/deletar" routerLink="/categoria/deletar">Deletar</mat-button-toggle>
    </mat-button-toggle-group>
</div>