<nav class="bgp-color">
    <div class="navbar">
        <div class="left-itens">
            <div>
                <a (click)='goHome()' class="fas fa-home a pr"></a>
                <a (click)='goHome()' class="text-home a">Mural Acadêmico</a>
                <a class="subtitle a">{{instance}}</a>
            </div>
        </div>
        <div class="right-itens">
            <div>
                <a *ngIf="isLogged()" (click)='logout()' class="fas fa-sign-out-alt a"></a>
            </div>
            <div class="pl">
                <a (click)="toggle()" class="fas fa-bars a"></a>
            </div>
        </div>
    </div>
</nav>