<div>
    <mat-button-toggle-group name="selected" aria-label="Selected" [value]="getSelectedButton()">
        <mat-button-toggle value="/usuario/cadastrar" routerLink="/usuario/cadastrar">
            <a>Cadastrar</a>
        </mat-button-toggle>
        <mat-button-toggle value="/usuario/listar" routerLink="/usuario/listar"><a>Listar</a>
        </mat-button-toggle>
        <mat-button-toggle value="/usuario/editar" routerLink="/usuario/editar">Editar</mat-button-toggle>
        <mat-button-toggle value="/usuario/deletar" routerLink="/usuario/deletar">Deletar</mat-button-toggle>
    </mat-button-toggle-group>
</div>